:root {
  --bg-color-first: #282828;
  --bg-color-second: #1d2021;
  --bg-color-third: #504945;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-first);
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: var(--bg-color-second);
  color: #98971a;
  font-style: italic;
  min-height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  padding: 1rem;
}

#controls {
  border: 1px solid white;
}

.track-container {
  border: 2px solid #32302f;
  min-width: 30vw;
  padding: 10px;
  min-height: 20vh;
}

#tracks {
  /* background-color: red; */
  min-width: 70vw;

  display: grid;

  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
}
#sample-library {
  background-color: var(--bg-color-third);
  padding: 0.5rem;

  position: absolute;
  top: 0;
  right: 0;

  max-width: 20vw;
  height: 100vh;
}

#sample-list {
  padding: 20px;
  list-style: none;
}

#sample-list div {
  cursor: move;
  border: solid 1px red;
  margin: 10px 0;
  padding: 5px 10px;
}

.sample {
  border-radius: 0.3em;
  min-height: 5vh;
  padding: 0.2rem;
}
